{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <div class="d-flex flex-column ">
            <h1 class="title-events"> All events </h1>
        </div>
    </header>
{% endblock %}
{% block body %}
    {% for event in events %}
        <div class="container-events container">
           <h2>{{  event.title }}</h2>
            <div class="row">
                <div class="picture-event">
                    <img src="{{  event.path }}" alt="" style="width: 100px"/>
                </div>
                <div class="content-event">
                    {{ event.shortContent }}
                    <a href="{{ path('event_id', {id: event.id}) }}"><p>Continue reading... </p></a>
                </div>
            </div>
                <p>---------------</p>
            <div class="row">
                <p>Posted: </p>
                <p>{{  event.dataEvent|date('Y-m-d') }}</p>
                <div class="likes-views">
                    <i class="fa fa-heart-o add-like" aria-hidden="true" data-id="{{ event.id }}"></i>
                    <span class="like-count">{{ event.likes }}</span>
                </div>
            </div>
            <br>
            <br>
        </div>
    {% endfor %}
{% endblock %}